.topnav{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.topnav .logo li{
    float: left;
    padding: 16px;
}
.topnav .logo li a{
    letter-spacing: 3px;
    cursor: default;
}

.topnav .screens li{
    float: right;
    padding: 16px;
    padding-left: 30px;
}

.topnav .login li{
    float: right;
    padding: 16px;
    padding-left: 30px;
}

.topnav li a{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.topnav .screens li a:hover{
    background-color: red;
    padding: 10px;
    overflow: hidden;
    border-color: black;
    color: white;
    border-radius: 10px;
}


.topnav .loginbtn{
    background-color: #127b9b;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    color: white;
}

.mobile{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.mobile h2{
    margin-top: 30px;
    text-align: center;
}

.img404{
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 370px) {
    .mobile{
        display: flex;
    }
    .web{
        display: none;
    }
    
}

.divider{
    height: 2px;
    background-color: black;
    width: 500px;
}

.main{
}