*{
    margin: 0;
    padding: 0;
}

.header1{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 3px;
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-bottom-color: black;
}

.title h1{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
}

.userinfo1{
    display: inline-flex;
    margin-right: 20px;
    align-items: baseline;
}

.userinfo1 button{
    margin-left: 20px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.userinfo1 h1{
    font-size: 23px;
}

.mainscreen{
    height: 91vh;
    margin-right: 20px;
}

